@font-face {
  font-family:
}

html,body{
  overflow: hidden;
  /*overflow-x: hidden;*/
  margin:0;
  font-family: 'PT Sans', sans-serif;
}

.loader{
  margin: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/football_field.svg');
}


.logo{
  position: relative;
  top:calc(50% - 98px);
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width:150px;
}


.textBox{
  position: absolute;
  bottom:10vh;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}


.textField{
  display: flex;
  justify-content: center;
}

.textField p{
  cursor: pointer;
  background:white;
  padding: 13px;
  margin: 0;
  border-radius: 6px;
  transition: all 0.3s;
}

.textField p:hover{
  box-shadow: 0 0 8px black;
}


.zoomIn{
  transition: all 0.5s;
  transform: scale(1.8);
}


.zoomOut{
  transition: all 1s;
  transform: scale(0);
}
.nav{
  width: 30%;
  transform:scale(0);
}

.navAnimate{
  transition: all 0.6s;
  transform:scale(1);
}

.nav img{
  position: relative;
  width: 72px;
  left: calc(50% - 40px);
}


/*-----------NAV BAR--------------*/
.menuOn{
  -webkit-animation: moveCenterOn 1.5s forwards;
  -o-animation: moveCenterOn 1.5s forwards;
  animation: moveCenterOn 1.5s forwards ;
}

.menuOff{
  -webkit-animation: moveCenterOff 1.5s forwards;
  -o-animation: moveCenterOff 1.5s forwards;
  animation: moveCenterOff 1.5s forwards ;
}

@keyframes moveCenterOff{
  from{
    transform: none ;
  }
    to{
      transform: translate(-40vw,40vh);
    }
}

@keyframes moveCenterOn{
  from{
    transform: translate(-40vw,40vh) ;
  }
    to{
      transform: none;
    }
}
@-webkit-keyframes moveCenterOff{
  from{
    -webkit-transform: none ;
  }
    to{
      -webkit-transform: translate(-40vw,40vh);
    }
}

@-webkit-keyframes moveCenterOn{
  from{
    -webkit-transform: translate(-40vw,40vh) ;
  }
    to{
      -webkit-transform: none;
    }
}

rect,text:not(#snooktxt){
  display: none;
}

.mainNav{
  position: absolute;
  z-index: 999999;
  transform: scale(0);
  /*z-index: 1000;*/
}

.navLoad{
  transition: all 1s;
  transform: scale(1);
}


.swim{
  position: absolute;
  z-index: -3;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: url('../img/swimming_pool.svg');
  background-size: contain;
}

.swim_container{
	width: 100%;
	height: 96vh;
	margin-top:2vh;
}

.tube_path{

	position:relative;
	height: 20%;
	overflow:hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#odd_path {
	width: 90vw;
	margin-left:5vw;
	margin-right:5vw;
}

#even_path {

	width: 60vw;
	margin-left:20vw;
	margin-right:20vw;
}

.tube {
	position: relative;
	height:16vh;
	width:16vh;
	margin:1.5vh;
	background: url('../img/tube.png') no-repeat;
	background-size: 16vh 16vh;
}

#tube2 {

  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
#tube3 {

  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
#tube4 {

  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
#tube5 {

  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.floating{
  float: left;
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 2.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingx{
  from {-webkit-transform:translate(0, 0px);}
  65% {-webkit-transform:translate(0, 10px);}
  to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
  from {-moz-transform:translate(0, 0px);}
  65% {-moz-transform:translate(0, 10px);}
  to {-moz-transform: translate(0, -0px);}
}

/*=================FLIP TILE===================*/

.flip {
  -webkit-perspective: 800;
  position: relative;
  margin: 0;
}

.card {
  height: calc(100vw / 6);
  width: auto;
}

.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  /*background: black;*/
  color: white;
  cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  color: black;
  cursor: pointer;
  background-image: url('../img/gallery.jpg');
  background-position: center center;
  background-size: calc(100vw / 6) auto;
}

.chessboard {
  /*height: 100vh;*/
}

.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  /*align-items: stretch;*/
  width: 100vw;
  /*height: 100vh;*/
  overflow-y:auto;
  overflow-x: none;
}

.tile {
  /*flex-grow: 1;*/
  width: calc(100vw / 5);
  /*min-width: 150px;*/
  height: calc(100vh / 3);
  /*min-height: 150px;*/
  padding: 0;
}

.black {
  background: black;
}

.white {
  background: #DDD;
}

/** LIGHTBOX MARKUP **/

.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 5%;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}

@media only screen and (max-width: 600px) {
  .flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    /*align-items: stretch;*/
    width: 100vw;
    /*height: 100vh;*/
    overflow:auto;
  }


  .tile {
    /*flex-grow: 1;*/
    /*flex-basis: 200px;*/
    /*min-width: 150px;*/
    width: calc(100vw / 3);
    height: calc(100vh / 5);
    /*min-height: 150px;*/
    padding: 0;
  }

}

/*==================================================*/

.about {
  width: 100vw;
  height: 100vh;
  background: #000;
  background: url('../img/billiards.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
}

#billiards {
  background: url('../img/billiards.svg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.aboutcon {
  position: absolute;
  margin: 16vh 12vw;
  top: 0;
  color: white;
  z-index: 10;

}

.aHead {
  font-size: 3em;
  font-weight: 600;
  text-shadow:
  3px 3px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px  1px 0 #000,
  1px  1px 0 #000;
  text-align: center;
  margin-bottom: 20px;
}

.aCont {
  font-size: 1.2em;
  text-align: justify;
  margin:auto 5vw;
  overflow-y: auto;
}

@media only screen and (max-width: 800px) {

  .about {
    background-size: cover;
  }

  .aboutcon {
    height: 65vh;
  }

  .aHead {
    font-size: 2.3em;
  }
.aCont {
      /*position: initial;*/
    bottom: 0px;
    top: 0;
    padding-right: 20px;
    /* height: 249px; */
    /* margin-bottom: inherit; */
    height: 40vh;
}

}


/*-------PAGE TRANSITIONS---------*/


/* rotate fall */

.pt-page-rotateFall {
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	animation: rotateFall 1s both ease-in;
}

.pt-page-scaleUp {
	-webkit-animation: scaleUp .7s ease both;
	animation: scaleUp .7s ease both;
}


@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); transform: translateY(100%) rotateZ(17deg); }
}

@-webkit-keyframes scaleUp {
	from { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleUp {
	from { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}



/*page motion*/

html, body { height: 100%; }


.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 1;
}

.pt-page-ontop {
	z-index: 999;
}


/* triggers (menu and button) */
/*

.bla{
	position: absolute;
	z-index: 999999;

}*/
