@font-face {
  font-family:
}

html,body{
  overflow: hidden;
  margin:0;
}

.loader{
  margin: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/football_field.svg');
}


.logo{
  position: relative;
  top:calc(50% - 98px);
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width:150px;
}


.textBox{
  position: absolute;
  bottom:10vh;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}


.textField{
  display: flex;
  justify-content: center;
}

.textField p{
  cursor: pointer;
  background:white;
  padding: 13px;
  margin: 0;
  border-radius: 6px;
  transition: all 0.3s;
}

.textField p:hover{
  box-shadow: 0 0 8px black;
}


.zoomIn{
  transition: all 0.5s;
  transform: scale(1.8);
}


.zoomOut{
  transition: all 1s;
  transform: scale(0);
}
.nav{
  width: 30%;
  transform:scale(0);
}

.navAnimate{
  transition: all 0.6s;
  transform:scale(1);
}

.nav img{
  position: relative;
width: 72px;
left: calc(50% - 40px);
}


.swim{
  position: absolute;
  z-index: -3;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: url('../img/swimming_pool.svg')
}
